<% provide(:title, '散歩ルート編集') %>
<div class="container col-xxl-10 px-4 py-3">
  <%= link_to "戻る", walking_route_path(@walking_route), class: "back-link", data: { turbo: false } %>
  <%= form_with url: walking_route_path, method: :patch do |f| %>
    <div class="row flex-lg-row align-items-center g-5 py-3 mb-1">
      <div class="col-lg-6">
        <div class="mb-3">
          <%= image_tag @user.profile_image.url, class: 'walking-route-profile-image' %>
          <span class="walking-route-profile-name"><%= @user.name %></span>
          <%= f.hidden_field :user_id, value: current_user.id %>
        </div>
        <div class="form-floating mb-3">
          <%= f.text_field :name, id: "edit-walking-route-name", class: "form-control walking-route-name-style", value: @walking_route.name, placeholder: "散歩ルート", maxlength: "20", required: "true" %>
          <%= f.label :name, "散歩ルート名:（20文字以内）", id: "edit-walking-route-name-label", for: "edit-walking-route-name" %>
        </div>
        <div class="form-floating mb-4">
          <%= f.text_area :comment, id: "walking-route-edit-comment-area", class: "form-control", value: @walking_route.comment, placeholder: "Leave a comment here", maxlength: "140", required: "true" %>
          <%= f.label :comment, "ひとことコメント:（140文字以内）", id: "walking-route-edit-comment-area-label", for: "walking-route-edit-comment-area" %>
        </div>
        <div class="mb-3 row">
          <%= f.label :distance, "距離/km", class: "col-sm-3 col-form-label", for: "total-distance" %>
          <div class="col-sm-9">
            <%= f.number_field :distance, id: "total-distance", class: "form-control-plaintext", value: @walking_route.distance, placeholder: 0, readonly: true %>
          </div>
        </div>
        <div class="row">
          <%= f.label :duration, "時間/分", class: "col-sm-3 col-form-label", for: "total-duration" %>
          <div class="col-sm-9">
            <%= f.number_field :duration, id: "total-duration", class: "form-control-plaintext total-duration-style", value: @walking_route.duration, placeholder: 0, readonly: true %>
          </div>
        </div>
        <p class="annotation">
          ※距離と時間はルート出力後に自動計算されます。<br>
        </p>
        <div class="form-floating mb-3">
          <%= f.text_field :start_address, id: "start", class: "form-control", value: @walking_route.start_address, placeholder: "東京駅", required: "true" %>
          <%= f.label :start_address, "出発地:", id: "start-label", for: "start" %>
        </div>
        <div id="waypoints"></div>
        <div class="form-floating">
          <%= f.text_field :end_address, id: "end", class: "form-control", value: @walking_route.end_address, placeholder: "銀座駅", required: "true" %>
          <%= f.label :end_address, "到着地:", id: "end-label", for: "end" %>
        </div>
        <p class="annotation">
          ※住所、駅名などを入力してください。（駅名などは住所に自動変換されます。）<br>
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" id="display-route" class="btn btn-primary btn-lg px-4 me-md-2 btn-lg--extend">ルート出力</button>
          <button type="button" id="add-waypoint" class="btn btn-outline-secondary btn-lg px-4 btn-lg--extend">経由地を追加</button>
          <button type="button" id="remove-waypoint" class="btn btn-outline-secondary btn-lg px-4 btn-lg--extend">経由地を削除</button>
        </div>
        <p class="annotation">
          ※経由地の追加は10までです。<br>
          ※地図上のマーカーをドラッグして調節することも可能です。
        </p>
        <%= f.hidden_field :encorded_path, id: "new-encorded-path" %>
      </div>
      <div class="col-lg-6">
        <div id="map" class="mx-auto img-fluid"></div>
      </div>
    </div>
    <div class="d-grid gap-2 col-md-6 mx-auto">
      <%= f.submit "更新", class: "btn btn-primary btn--extend", data: { turbo: false } %>
    </div>
  <% end %>
</div>
<%= render "shared/google_maps_api" %>
